
flask==3.0.3
flask-SQLAlchemy==3.1.1
flask-Bcrypt==1.0.1
flask-Login==0.6.3
flask-Mail==0.10.0
flask-Migrate==4.0.7
flask-WTF==1.2.1
flask-APScheduler==1.13.1
pymysql==1.1.1  
cryptography==44.0.0
email_validator==2.2.0
authlib==1.5.0
requests==2.32.3 
pytz==2025.1
flask_session==0.8.0 
dotenv==0.9.9 
flask_jwt_extended=4.7.1
