{% extends "employee/E_homeBase.html" %}
{% block title %}Employee_Homepage{% endblock %}
{% block content %}


<div class="container">

    <div class="punch-container">
        {% if employee %}
        <h2>Welcome,   {{ employee.name }}..({{ employee.designation | upper}})</h2>
        {% else %}
                <p>Please Update Employee Details</p>
        {% endif %}
        
        {% if employee %}
        <div class="punch-times">
            <p><strong>Punch Inn:</strong> {{ punch_in_time if punch_in_time else 'None' }}</p>
            <p><strong>Punch Out:</strong> {{ punch_out_time if punch_out_time else 'None' }}</p>
        </div>
        {% else %}
        <p>Update Employee Details for punch time</p>
        {% endif %}
        
        
        
    </div>
    {% if show_notification %}
    <div class="notification">
        
        <a href="{{ url_for('Accounts.view_emp_type_queries') }}" class="btn btn-primary">View Queries</a>
    </div>
    {% endif %}

    {% if employee %}
        <div class="container-image text-center">
            {% if employee.photo_filename %}
                <img src="{{ url_for('static', filename='uploads/' ~ employee.photo_filename) }}" alt="Employee Image" class="img-thumbnail">
            {% else %}
                <p>No photo available</p>
            {% endif %}
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                
                <p><strong>Name:</strong> {{ employee.name }}</p>
                <p><strong>Email:</strong> {{ employee.email }}</p>
                <p><strong>Date of Joining:</strong> {{ DOJ.strftime('%Y-%m-%d') if DOJ else 'N/A' }}</p>

                {% if manager_contact %}
                {% if manager_contact.l1_name %}
                    <p><strong>Head Manager (L1):</strong> {{ manager_contact.l1_name }}</p>
                {% else %}
                    
                    <p><strong>Reporting Manager(L2):</strong> {{ manager_contact.l2_name }}</p>
                    
                    
                {% endif %}
            {% else %}
                <p>No manager contact information available.</p>
            {% endif %}
                <!-- Add other fields as needed -->
            </div>
            <div class="col-md-6">
                
                <p><strong>Employee ID:</strong> {{ employee.emp_id }}</p>
                <p><strong>Emergency Contact:</strong> {{ employee.emergency_mobile }}</p>
                <p><strong>Blood Group:</strong> {{ employee.blood_group }}</p>
                <p><strong>Reporting Lead (L3):</strong> {{ manager_contact.l3_name }}</p>
                
                
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
               
            </div>
        </div>
    {% else %}
        <p>No employee data found.</p>
    {% endif %}
</div>

<div class="news-feed-container">
    <h2 class="centered-heading">News Feed</h2>
    <marquee behavior="scroll" direction="up" scrollamount="3" onmouseover="this.stop();" onmouseout="this.start();">
        {% for news_feed in news_feeds %}
        <div class="news-feed-item">
            <a href="{{ url_for('hr.view_news_feed', news_feed_id=news_feed.id) }}">
                {{ news_feed.title }}
            </a>
            {% if news_feed.is_new() %}
            <span class="new-label">New</span>
            {% endif %}
        </div>
        {% endfor %}
    </marquee>
</div>



{% endblock %}
