<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/E_homepage.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body id="body-pd">
    <div class="l-navbar" id="navbar">
        <nav class="nav">
            <div>
                <div class="nav__brand">
                    <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                    <a href="#" class="nav__logo">Saffo Solution Technology</a>
                </div>
                
                <div class="nav__list">
                    
                    <a href="/E_homepage" class="nav__link active">
                        <ion-icon name="home-outline" class="nav__icon"></ion-icon>
                        <span class="nav__name">Dashboard</span>
                    </a>
                    <a href="/punch" class="nav__link">
                        <ion-icon name="hourglass-outline" class="nav__icon"></ion-icon>
                        <span class="nav__name">Attendance</span>
                    </a>

                    {% if emp_type == 'Human Resource' %}
                    <a href="/hr_dashbord" class="nav__link">
                        <ion-icon name="open-outline" class="nav__icon"></ion-icon>
                        <span class="nav__name">Human Resource</span>
                    </a>
                    {% endif %}
                
                    {% if emp_type == 'Accounts' %}
                    <a href="/Acc_dashbord" class="nav__link">
                        <ion-icon name="wallet-outline" class="nav__icon"></ion-icon>
                        <span class="nav__name">Accounts</span>
                    </a>
                    {% endif %}
                
                    {% if emp_type == 'It Department' %}
                    <a href="/it_dashboard" class="nav__link">
                        <ion-icon name="settings-outline" class="nav__icon"></ion-icon>
                        <span class="nav__name">IT Department</span>
                    </a>
                    {% endif %}
                

                    <div class="nav__link collapse">
                        <ion-icon name="person-outline" class="nav__icon"></ion-icon>
                        <span class="nav__name">Profile</span>
                        <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>
                        <ul class="collapse__menu">
                            <a href="/change-password" class="collapse__sublink">Change Password</a>
                            <a href="/emp_det2" class="collapse__sublink">Employee Details</a>
                            <a href="/family_det" class="collapse__sublink">Family Details</a>
                            <a href="/previous_company" class="collapse__sublink">Previous Company Details</a>
                            <a href="/education" class="collapse__sublink">Education Details</a>
                            <a href="/upload_doc" class="collapse__sublink">Upload Documents</a>
                        </ul>
                    </div>

                    <div class="nav__link collapse">
                        <ion-icon name="briefcase-outline" class="nav__icon"></ion-icon>
                        <span class="nav__name">General</span>
                        <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>
                        <ul class="collapse__menu">
                            <a href="#" class="collapse__sublink">Policy</a> 
                            <a href="/create_query" class="collapse__sublink">Query</a>
                            <a href="/payslips" class="collapse__sublink">PaySlip</a>
                            <a href="/my_assets" class="collapse__sublink">Assets</a>
                            <a href="#" class="collapse__sublink">Claim</a> 
                           
                        </ul>
                    </div>

                    <div class="nav__link collapse">
                        <ion-icon name="rocket-outline" class="nav__icon"></ion-icon>
                        <span class="nav__name">Off Board</span>
                        <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>
                        <ul class="collapse__menu">
                            <a href="#" class="collapse__sublink">Resignation</a>
                            <a href="#" class="collapse__sublink">NOC</a>
                        </ul>
                    </div>
                </div>
            </div>
            <a href="/logout" class="nav__link">
                <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                <span class="nav__name">Log Out</span>
            </a>
        </nav>
    </div>

    {% block content %}
    {% endblock %}

    <!-- ===== IONICONS ===== -->
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <!-- ===== MAIN JS ===== -->
    <script src="{{ url_for('static', filename='css/E_hompepage.js') }}"></script>
</body>
</html>
