{% extends "employee/E_homeBase.html" %}
{% block title %}Employee_Homepage{% endblock %}
{% block content %}


<div class="container">
    {% if employee %}
        <div class="container-image text-center">
            {% if employee.photo_filename %}
                <img src="{{ url_for('static', filename='uploads/' ~ employee.photo_filename) }}" alt="Employee Image" class="img-thumbnail">
            {% else %}
                <p>No photo available</p>
            {% endif %}
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                
                <p><strong>Name:</strong> {{ employee.name }}</p>
                <p><strong>Email:</strong> {{ employee.email }}</p>
                <p><strong>Date of Birth:</strong> {{ employee.dob.strftime('%Y-%m-%d') }}</p>
                <!-- Add other fields as needed -->
            </div>
            <div class="col-md-6">
                
                <p><strong>Mobile:</strong> {{ employee.mobile }}</p>
                <p><strong>Emergency Contact:</strong> {{ employee.emergency_mobile }}</p>
                <p><strong>Blood Group:</strong> {{ employee.blood_group }}</p>
                <!-- Add other fields as needed -->
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <!-- Add more sections or details here -->
            </div>
        </div>
    {% else %}
        <p>No employee data found.</p>
    {% endif %}
</div>

{% endblock %}
