{% extends "employee/base.html" %} 
{% block title %}Login{% endblock %} 
{% block content %}

<div class="container-fluid">
    
    <!-- Display Flash Message if exists -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <!-- Form for selecting role and entering password -->
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.emp_type.label }}
            {{ form.emp_type(class="form-control") }}
            {% if form.emp_type.errors %}
                <div class="text-danger">
                    {% for error in form.emp_type.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- Password Field -->
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
            {% if form.password.errors %}
                <div class="text-danger">
                    {% for error in form.password.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}
