{% extends "employee/E_homeBase.html" %} 
{% block title %}Change Password{% endblock %}
{% block content %}

<div class="container">
    <h2 class="centered-heading">Change Your Password</h2>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <ul>
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    
    <form method="POST" action="{{ url_for('auth.change_password') }}">
        {{ form.hidden_tag() }}
        
        <div class="form-group">
            {{ form.original_password.label(class="form-label") }}
            {{ form.original_password(class="form-control") }}
            {% for error in form.original_password.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
    
        <div class="form-group">
            {{ form.new_password.label(class="form-label") }}
            {{ form.new_password(class="form-control") }}
            {% for error in form.new_password.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
    
        <div class="form-group">
            {{ form.confirm_new_password.label(class="form-label") }}
            {{ form.confirm_new_password(class="form-control") }}
            {% for error in form.confirm_new_password.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
    
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
    
</div>

{% endblock %}
