/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
}

body {
    background: white;
}

/* Header Styles */
header {
    width: 100%;
    height: 80px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    padding-top: 2px;
}

header .logo a {
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: black;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: .2s;
}

.nav-bar ul li a:hover {
    color: black;
    background: #eee;
}



/* Hamburger Menu */
.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
}

/* Container Styles */
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 50px 20px;
}

/* Specific Login Styles */
.login-left,
.login-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-left img,
.login-right img {
    width: 300px; /* Set width of logos */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Space between image and link */
}

.login-left a,
.login-right a {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.login-left a:hover,
.login-right a:hover {
    background-color: green;
    color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .nav-bar {
        display: flex;
        flex-direction: column;
        background-color: #333;
        width: 100%;
    }

    .nav-bar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-bar ul li {
        width: 100%;
    }

    .nav-bar ul li a {
        padding: 10px;
        display: block;
        width: 100%;
        text-align: center;
        color: white;
        text-decoration: none;
    }
}


