
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Verification</title>
</head>

<body>
    <header id="header">
        <div class="logo"><img src="../static/photo/saffo logo.png" alt=""></div>
        <nav class="nav-bar" id="navbar">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                  <a href="#about">About Us</a>
              </li>
              <li>
                  <a href="#contact">Contact</a>
              </li>
              
          
                
               
            </ul>
        </nav>
    </header>
    
    <div class="container" id="home">
        <div class="login-left">
            <div class="login-header">
               <h3> <p>Please Verify for Admin......</p></h3>
            </div>
            <br>
                    {% with errors = get_flashed_messages(category_filter=["error","success"]) %}
                        {% if errors %}
                            <div class="alert-message block-message error">
                                
                                    <ul>
                                        {%- for msg in errors %}
                                        <a class="close" href="/verify">{{ msg }}...X</a>
                                        {% endfor -%}
                                    </ul>
                            </div>
                        {% endif %}
                    {% endwith %}
            <form class="login-form" method="POST" action="{{ url_for('Admin_auth.admin_verification') }}">
                <div class="login-content">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.employee_Id.label }}
                        {{ form.employee_Id }}
                    </div>
                    <button type="submit">Verify</button>
                </div>
            </form>
            
          
        </div>
          
        <div class="login-right">
            <img src="../static/photo/Data Arranging_Two Color.svg" alt="">
        </div>
    </div>

    
    

    <script src="../static/css/javascript.js"></script>
</body>

</html>





        
        
     
