{% extends "admin/AdminBase.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="login-header">
    <h1>Welcome Admin...</h1>
    <h4><p>Please login to continue...</p></h4>
</div>

{% with errors = get_flashed_messages(category_filter=["error", "success"]) %}
    {% if errors %}
        <div class="alert-message block-message error">
            <ul>
                {% for msg in errors %}
                <li><a class="close" href="/Adminlogin">{{ msg }}...X</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endwith %}

<form class="login-form" method="POST" action="{{ url_for('Admin_auth.admin_login', next=next) }}">
    <div class="login-content">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password }}
            <img src="../static/photo/eye-close.png" id="eyeicon" class="password-toggle">
        </div>
        
        <div class="form-group">
            Remember Me {{ form.remember }} 
        </div>
        
        <button type="submit">LogIn</button>
    </div>
</form>
{% endblock %}

