{% extends "employee/base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
    <div class="login-header">
        <h1>Welcome...</h1>
        <br>
        <p><h2 style="color: rgb(68, 75, 4);">Unlock Your Potential with our Innovative Platform. Streamline Your Processes and Enhance Your team's Productivity. <br> <br> Ready to get started?...</h2></p>
  
       
        <h3>Please Login to Contiune...</h3>
    </div>


    <div class="login-home">
        
        <a href="/login" target="_blank">Login with Microsoft</a>
      </div>

  
{% endblock %}